:root {
  --white: hsl(0, 0%, 100%);
  --lightpink: hsl(275, 100%, 97%);
  --graypurp: hsl(292, 16%, 49%);
  --darkpurp: hsl(292, 42%, 14%);
  --purp: #AD28EB;
  --font: 'Work Sans';

  --bg-desktop: url("assets/images/background-pattern-desktop.svg");
  --bg-mobile: url("assets/images/background-pattern-mobile.svg");

  --icon-plus: url("assets/images/icon-plus.svg");
  --icon-minus: url("assets/images/icon-minus.svg");
}

body {
  /* border: 1px solid black; */
  margin: 0;
  padding: 1.25em;
  font-family: var(--font);

  box-sizing: border-box;
  width: 100%;
  /* min-height: 100vh; */
  /* height: 100vh; */
  /* display:flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-image: var(--bg-desktop);
  background-position: top left;
  background-size: cover;
  background-attachment: scroll;

  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.bg-layer{
  position: fixed;
  width: 100%;
  height: 66%;
  box-sizing: border-box;
  left:0;
  bottom: 0;
  background-color: var(--lightpink);
  z-index: -1;
}

h1 {
  font-size: 3.0em; 
  margin: 0.3em 0 0.4em;
}

h2 {
  font-size: 1.1em;
}

p {
  font-size: 1em;
  color: var(--graypurp);
}

hr {
  border: none;
  color: var(--lightpink);
  background-color: var(--lightpink);
  margin: 15px 5px;
  height: 1px;
}

.icon-star {
  display: flex;
  align-items: center;
  margin-right: 0.4em;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* padding: 1.25em; */
  box-sizing: border-box;
  /* border: 1px solid black; */
  /* margin-bottom: 20px; */
}

.card {
  /* width: 100%; */
  /* height: 100%; */
  background-color: var(--white);
  padding: 1.75em;
  box-sizing: border-box;
  border-radius: 16px;
  /* border: 1px solid black; */
  width: min(600px, 100%);
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  margin-bottom: 14px;
}

.accordion-heading{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: black;
  transition: color 0.3s ease-in, translate 0.3s;
}

.accordion-heading:hover{
  color: var(--purp);
  translate: -5px;
}

.close .accordion-content{
  transform: scaleY(0);
  height: 0;
  float: left;
  display: block;

  transition: height 1s ease-out;
}

.open .accordion-content{
  margin-bottom: 30px;

  transform: scale(1);
  transform-origin: top;

  transition: transform 0.4s ease;
}

.icon-plus {
  content: var(--icon-plus);
}

.icon-minus {
  content: var(--icon-minus);
  color: black;
}

@media screen and (max-width: 850px) {
  body {
    background-image: var(--bg-mobile);
  }
}